@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = QuantumWebsite.Models;
@{
	Layout = "main.cshtml";
}
<section>
        <div class="bannerSingle img-fluid">
            <div class="message-topics">
                <h2 class="message-heading-topics">@Model.Value("bannerTitle")</h2>
                <p>@Model.Value("bannerDescribe")</p>
            </div>
        </div>
</section>
<!-- TopChoic section start NOTE:- changed to principal message -->
<section class="topChoice-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center pb-5">
                <div class="topChoice-heading"><h5 style="color:white">@Model.Value("messageHead")</h5></div>
                <div class="topChoice-subheading"><h4 style="color:white">@Model.Value("messageDescription")</h4></div>
                <div class="topChoice-author">
                    @{
                        var principalImage = Model.Value<IPublishedContent>("principalImage");
                    }
                    <img src="@(principalImage?.Url())" class="img-fluid" alt="description">
                    <h4 style="color:white;margin-bottom:8px;">@Model.Value("principalTitle")</h4>
                    <h5 style="color:white">@Model.Value("principalSubTitle")</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TopChoic section end -->
